<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestSuite">

<listeners>
	<listener class-name="frameworkDesgin.utility.Listeners" />
</listeners>

	<test name="RestAssured"  thread-count="5">

		<classes>
			<class name="frameworkDesgin.TestCases.TC001_GetAllDetails" />
			<class name="frameworkDesgin.TestCases.TC002_GetEmployeeData" />
			<class name="frameworkDesgin.TestCases.TC003_PostEmployeeData" />
				
		</classes>

	</test>

</suite>